################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutoTranslate/bin
/AutoTranslate/obj
/AutoTranslate.Web/App_Data/Logs
/AutoTranslate.Web/App_Data/TEMP
/AutoTranslate.Web/bin
/AutoTranslate.Web/obj
/AutoTranslate.Web/Umbraco
/packages
/AutoTranslate.Web/App_Plugins/AutoTranslate/
