<div class="umb-editor" ng-controller="AutoTranslateDictionary as vm">
    <div class="umb-dialog-body form-horizontal">
        <div class="umb-pane">
            <div class="umb-pane">
                <p>Click the button below to auto translate the dictionary item for the language selected, using either the value from the default language or the name of the item if you choose that option.</p>
            </div>
            <umb-load-indicator ng-if="vm.loading">
            </umb-load-indicator>

        </div>
    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <a class="btn btn-link" ng-click="closeDialog()" ng-show="!busy">
            <localize key="general_cancel">Cancel</localize>
        </a>
        <button class="btn btn-primary" ng-click="getTranslatedText()">Auto Translate</button>
    </div>
</div>
